.container-game {
    
    flex-wrap: wrap;
    border: 1px solid rgb(255, 255, 255);
    margin: 1px;
    padding: 1px;
    background-color: rgba(230, 21, 49, 0.464);

}

.container-game:hover {
    animation: myAnim 1s ease 0s 1 normal forwards;;
    cursor: pointer;
}

.game-div {
    display: flex;
    margin: 10px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    
}

.game-div img {
    object-fit: cover;
    width: 100%;
    min-height: 100%;
}

.title-game {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size:x-large;
    font-weight: 600;
    color: #ffffff;
}

.infoContGenres {
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.infoRating {
    color: #ffffff;
    display: flex;
    justify-content: center;
    height: 35px;
}

.div-button {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}

.Link {
    font-family: 'sans-serif';
    width: 120px;
    height: 40px;
}

.Link:hover {
    background-color: black;
    color: aliceblue;
}

@keyframes myAnim {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }