.container-div{
    display: flex;
    justify-content: center;
}

.selectCont {
    padding: 10px;
    margin: 20px;
    width: 400px;
    font-family: 'sans-serif';
}

.option {
    margin: 5px;
    font-family: 'sans-serif';
}

.optionGroup {
    padding: 10px;
    font-family: 'sans-serif';
}
