.searchbar-div {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.btn {
    font-family: 'sans-serif';
    padding: 10px;
    background-color: rgb(171,14,14,0.821);
}

.bar-btn {
    font-family: 'sans-serif';
    padding: 10px;
    margin: 20px;
    width: 380px;
    background-color: rgb(251, 251, 251);
}

.btn:hover {
    background-color: black;
    color: rgba(255, 255, 255, 0.821);
}

