.main-add {
    display: flex;
    justify-content: center;

}

.container-add {

    text-align: center;
    width: 800px;
    height: 500px;
}

.container-add h2 {
    
    text-align: center;
    font-family: 'sans-serif';
    font-size: xx-large;
    color:rgb(255, 255, 255)
}

.div-cont {
    display: flex;
    justify-content: center;
}

.genres-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width:650px;
    background-color: rgb(171,14,14,0.821);
}

.plat-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width:650px;
    background-color: rgb(171,14,14,0.821);
}

.container-add label {
    font-size: large;
    margin: 3px;
    color: #fff;
}

.name{
    height: 25px;
    width: 400px;
    color: #fff;
    
}

.dt {
    height: 25px;
    width: 120px;
    
}

.div-but-form {
    display: flex;
    justify-content: center;
    
}

.div-but-form button {
    font-family: 'sans-serif';
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    background-color: rgb(171,14,14,0.821);
}

.div-but-form button:hover {
    background-color: black;
    color: #fff;
}

.container-add input {
    background-color: rgb(171,14,14,0.821);
    color: #fff;
}

.container-add textarea {
    color: #fff;
    background-color: rgb(171,14,14,0.821);
}