.container-detail {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

.details-div {
    display: flex;
    margin: auto;
    justify-content: center;
    border: 1px solid black;
    height: 50%;
    width: 50%;
    background-color: rgb(78, 3, 112);
}

.details-div p {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 500;
}

.div-img {
    display: flex;
    justify-content: center;
}

.details-div img{
    border: 5px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 20%;
}

.title {
    display: flex;
    justify-content: center;
    font-size:xx-large;
    color: rgb(255, 255, 255);
}

.div-descr {
    margin: 20px;
}

.div-descr p {
    display: flex;
    justify-content: center;
}

.descripcion {
    text-align: justify;
}

.div-descr button {
    margin: 5px;
    width: 100px;
    height: 40px;
    font-family: 'Press Start 2P';
    position: relative;
    left: 40%;
    border-radius: 20px;
    background-color: rgb(171,14,14,0.821);
}

.div-descr button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}